@import "tailwindcss";

html,
body {
  border: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-image: radial-gradient(
      circle at top right,
      rgba(124, 58, 237, 0.15),
      transparent 40%
    ),
    radial-gradient(
      circle at bottom left,
      rgba(79, 70, 229, 0.15),
      transparent 40%
    );
  background-attachment: fixed;
  background-color: black;
}

@theme {
  --breakpoint-sm-himan: 400px;
}
